*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}


$mainBlack: rgb(71, 70, 70);
$mainGreen: #82b340;
$mainWhite: #fff;
$mainGrey: #ececec;
$mainBlue: #4169E1;

body{
  background: $mainWhite;
  color: $mainGreen;
  font-family: 'Open Sans', sans-serif;  
}